.choose-adventure {
  @include clearfix;
  background: $white;
  text-align: center;
  padding: 80px;
  position: relative;
  top: 1100px;
  h3 {
    font-family: "brandon_grotesquebold", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: .28em;
    padding: 0;
    margin: 0;
  }
  h4 {
    color: $dark-red;
    font-size: 0.9em;
    font-family: "brandon_grotesque_regularRg", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    letter-spacing: .28em;
  }
  p {
    margin: 40px 0px;
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
    line-height: 2em;
  }
  button {
    font-size: .9em;
    font-family: "brandon_grotesque_regularRg", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: .28em;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    padding: 18px 50px;
    border: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
}
