.visuallyhidden{
  @include visuallyhidden;
}
.footer-links {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 100%;
  background-color: $black-black;
  color: $black-light;
  font-family: "Brandon Grotesque", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.65em;
  p {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
  ul.links {
    @include clearfix;
    font-weight: 600;
    margin: 20px;
    list-style-type: none;
    li {
      float: left;
    }
  }
  a {
    color: $black-light;
    text-decoration: none;
  }
  ul.social-media {
    position: absolute;
    bottom: 1px;
    list-style-type: none;
    font-size: 2em;
    li {
      padding: 5px;
    }
  }
}
