.go-adventure {
  @include clearfix;
  background: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 120px;
  h3 {
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: .28em;
    margin: 0;
  }
  p {
    color: $dark-red;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: .28em;
  }
  button {
    margin: 20px;
    font-size: .9em;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: .28em;
    text-transform: uppercase;
    color: $white;
    background-color: $teal;
    padding: 18px 50px;
    border: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
}
