.page-header {
  float: left;
  width: 100%;
  margin-bottom: 3em;
  .request {
    float: left;
    margin: 35px 20px 20px 85px;
  }
  .main-nav {
    float: left;
    max-width: 900px;
    margin: 30px 5px;
  }
  .login {
    float: right;
    margin: 35px 20px 20px 20px;
  }
  .blog-title {
    @include visuallyhidden;
  }
  button {
    line-height: 1em;
    font-size: .8em;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .28em;
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    padding: 10px 35px;
    border: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
}
