.lead {
  color: $white;
  text-align: center;
  line-height: 105px;
  padding: 0;
  margin: 0;
  img {
    z-index: -10;
    max-width: none;
  }
  p {
    font-size: .9em;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 7em;
    font-family: "Goodfoot", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 125px;
    -webkit-transform: rotate(-2.5deg);
  }
  h3 {
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 7px;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  button.video {
    line-height: 1em;
    font-size: .9em;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: .28em;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    padding: 18px 30px;
    border: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
  button.cory {
    position: relative;
    float: left;
    left: 40px;
    line-height: 1em;
    font-size: .8em;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .28em;
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    padding: 12px 20px;
    border: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
}
