.main-nav {
  font-size: .8em;
  font-family: "brandon_grotesque_regularRg", Helvetica, Arial, sans-serif;
  font-style: italic;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  font-weight: 600;
  h2 {
    @include visuallyhidden;
  }
  ul {
    @include clearfix;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    float: left;
    margin-left: 2.5em;
    margin-top: 1em;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $gray-dark;
    }
  }
  .home {
    max-width: 120px;
    margin-left: 1.5em;
    margin-top: 0;
  }
}
